@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to our Simple Bank</h1>
<h2>Hello @Model.Name</h2>
<div style="padding: 20px; background-color: @(Model.CurrentTime.Second % 3 == 1 ? "red" : "blue")">The current time is @Model.CurrentTime</div>
